<div class="header">Angular list of prohibited words</div>
<div class="main">
    <div class="main-words">Bad words: {{ stringWords }}</div>
    <div class="main-input">
        <input type="text" [class.error]="isErrorAdd" [(ngModel)]="word" [placeholder]="isErrorAdd? 'Please write a word!' : 'word here..'">
        <input type="button" value="Add" (click)="addBadWords()">
        <input type="button" value="Reset" (click)="resetBadWords()">
    </div>
    <div class="main-text">
        <textarea [(ngModel)]="textArea" [class.error]="isErrorCenzor" [placeholder]="isErrorCenzor? 'Please write text!': 'text here..'">

        </textarea>
    </div>
    <input class="main-button" type="button" value="Cenzor" (click)="cenzorCheck()">
</div>